weights/DLNR_SceneFlow.pth
/Dataset1/*
/disengage_videos/frames
/disengage_videos/*.mp4
/face_laser_projector/*

# ---- Python ----
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint.log

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
libs/
.conda
